<template>
  <div id="app">
    <div ref="username" id = "username">10</div>
  </div>
</template>

<script>
import Quill from 'quill';

import Autoformat from 'quill-autoformat';
Quill.register('modules/Autoformat', Autoformat);

export default {
  name: 'App',
  components: {

  },
  mounted() {
    console.log(56);
     new Quill('#username', {
      theme: 'snow',
       modules: {
         toolbar: false,
         autoformat: true
       }
    });
  },
}
</script>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
